html {
	height: 100%;
}

:root {
	--primary-colour: #0099FF;
	--secondary-colour: #00B1FF;
	--gradient-webkit: -webkit-linear-gradient(#FDF480, #FA7575);
	--gradient-opera: -o-linear-gradient(#FDF480, #FA7575);
	--gradient-moz: -moz-linear-gradient(#FDF480, #FA7575);
	--gradeint-standard: linear-gradient(#FDF480, #FA7575);
}

body {
	margin: 0;
	padding: 0;
	height: 100%;
	background-repeat: no-repeat;
	background-attachment: fixed;
	text-align: center;
}

#gradient {
	background: orange;
	/* For browsers that do not support gradients */
	background: var(--gradient-webkit);
	/* For Safari 5.1 to 6.0 */
	background: var(--gradient-opera);
	/* For Opera 11.1 to 12.0 */
	background: var(--gradient-moz);
	/* For Firefox 3.6 to 15 */
	background: var(--gradeint-standard);
	/* Standard syntax */
}

.img-circle {
	border-radius: 50%;
	height: auto;
	width: 20%;
	margin-top: 10%;
}

.home h1 {
	color: var(--primary-colour);
	font-size: 4em;
}

.home h4 {
	display: inline-block;
	margin: 1%;
	color: var(--secondary-colour);
	font-size: 2em;
}

.about {
	display: inline-block;
	width: 98%;
	background-color: var(--primary-colour);
	color: azure;
}

.about h1 {
	font-size: 4em;
}

.about p {
	font-size: 1.5em;
}
